.primary-button {
  flex: 0 0 auto;
  background: #0048AA;
  border: 1px solid #0048AA;
  color: #EEE;
  padding: 12px;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
}

.primary-button:disabled {
  background: #0048AA;
  border: 1px solid #0048AA;
}